/* global.css */
/* Reset some default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color and font styles to the entire page */
body {
    background-color: #fce4e4;
    font-family: Arial, sans-serif;
}

/* Style the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #432525;
    color: white;
    padding: 15px 20px;
}

.navbar-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #432525;
    color: white;
    padding: 10px 20px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 30%;
}

.login a {
    background-color:#f5f5f5;
    color: black;;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 40px;
}



.login a:hover {
    background-color: white;
    color: black;
}

/* Style the content section */
.content {
    text-align: center;
    margin-top: 13%;
    position: relative;
}

.gh-svg{
    width : 2.5%;
    background:#401a1a;
    padding: 0 0 0 0;
    margin: 0 0 0 2%;
}

.stars-svg{
    width:10%;
    margin: 0 0 0 2%;    
}

.stars-svg:hover{
    width:11%;
}

.form-svg{
    width:4%;
    margin: 0 0 -1.5% 20%;
}

.mani-svg{
    width:8%;
    margin: -5.5% 0 0 14%;
}

.rev-h{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 5%;
}

.work-svg {
    width: 26%;
    /* Adjust the width as needed */
    position: absolute;
    top: 25%;
    /* Adjust the positioning as needed */
    left: 5%;
    /* transform: rotate(-15deg); */
    /* Rotate the image by 10 degrees */
    opacity: 90%;
}

.money-svg {
    width: 22%;
    /* Adjust the width as needed */
    position: absolute;
    top: 33%;
    /* Adjust the positioning as needed */
    right: 5%;
    transform: rotate(15deg);
    /* Rotate the image by 10 degrees */
    opacity: 90%;
}

.fund-svg:hover{
    width:22%;
    position: absolute;
    top: 16%;

}

.rev-svg{
    width: 25%;
    /* Adjust the width as needed */
    position: absolute;
    top: 15%;
    /* Adjust the positioning as needed */
    left: 20%;
    z-index: -1;
    /* transform: rotate(15deg); */
    /* Rotate the image by 10 degrees */
    opacity:100%;

}


.app-svg {
    width: 20%;
    /* Adjust the width as needed */
    position: absolute;
    top: 19%;
    /* Adjust the positioning as needed */
    right: 12%;
    /* transform: rotate(15deg); */
    /* Rotate the image by 10 degrees */
    opacity: 100%;
}

.app-svg:hover{
    width:22%;
    position: absolute;
    top:18%;
    right: 11%;
    padding: 0 0 
}

.fundtit{
     margin:3% 0 0 25%;
     font-weight: 700;
     color: #401a1a;
     text-decoration: underline;
}

.revtit {
    margin: 3% 0 5% 20%;
    font-weight: 700;
    color: #401a1a;
    text-decoration: underline;
}

.fund-svg{
    width: 20%;
    /* Adjust the width as needed */
    position: absolute;
    top: 18%;
    /* Adjust the positioning as needed */
    right: 21%;
    
    /* transform: rotate(15deg); */
    /* Rotate the image by 10 degrees */
    opacity: 100%;
}

.center-text {
    font-family: 'Kaushan Script', cursive;
    /* Use any desired font-family */
    font-size: 152px;
    font-weight: bold;
    color: #333;
}

.description {
    font-size: 22px;
    margin-top: 20px;
    color: #582626;
    font-family: 'Courgette', cursive;
    text-decoration:underline;
}

.who-are-you {
    font-size: 24px;
    margin-top: 30px;
    color: #333;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.link {
    margin: 0 20px;
    font-size: 18px;
    text-decoration: none;
    color: #432525;
}

.link:hover {
    text-decoration: underline;
}

label {
    display: block;
    font-weight: bold;
    margin-left: -71%
}

button:hover {
    background-color: #582626;
}

.logo2 {
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 0 46% 0 0;
}

.logoo{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 0 0 0 6%;
}

.formGroup {
    margin: 20px;
    margin-top:10%;
}

input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #582626;
    border-radius: 5px;
}

input::placeholder {
    color: #999;
    /* Placeholder text color */
}

.loginButton {
    background-color: #432525;
    color: white;
    padding: 10px 40px;
    border: none;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Add a smooth transition effect */

}

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90.55vh;
    background: rgba(255, 231, 231, 0.9) url('log.jpg') left center no-repeat;
    background-size: 100%;
    width: 100%;
}

.llogin {
    background-color:#ffe7e7;
    padding: 2% 5%;
    padding-top: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 5, 0.9);
    text-align: center;
    width: 35%;
    /* Set the container width to 50% of the viewport */
    height: 90.55vh;
    /* Fill the entire height of the viewport */
}

.loginButton:hover {
    background-color: #582626;

}

.log-granthive{
    font-family: 'Kaushan Script', cursive;
        /* Use any desired font-family */
        font-size: 60px;
        font-weight: bold;
        color:#432525;
        margin-top:-30%;
        text-align: center;
        margin-bottom: 15%;
}

/* APPLICANT */

.user-greeting {
    font-family: 'Kaushan Script', cursive;
        /* Use any desired font-family */
        font-size: 70px;
        font-weight: bold;
        color: #333;
        margin-top: 3% ;         
        text-align: center;
        text-shadow: #333;
}

.user-greeting-rev {
    font-family: 'Kaushan Script', cursive;
    /* Use any desired font-family */
    font-size: 80px;
    font-weight: bold;
    color: #333;
    margin: 5% 0 0 50%;
    /* text-align: center; */
    text-shadow: #333;
}

.view-funder{
    background-color: #582626;
    color: #ddd;
    margin: 2% 0 1% 5%;
    padding:0.5% 1.5%;
    border: 1.5px solid #582626;
    border-radius: 5%;
}

.view-funder:hover{
    background-color:#6c3434;
    cursor: pointer;
}

.user-greeting-fund {
    font-family: 'Kaushan Script', cursive;
    /* Use any desired font-family */
    font-size: 80px;
    font-weight: bold;
    color: #333;
    margin: 3% 40% 0 7%;
    text-align: center;
    text-shadow: #333;
}

span{
    color:#703131;
}



.toggle-button {
    background-color:#582626;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left:0.5%;
    margin-top:1%;
    box-shadow: 0 0 40px rgba(171, 44, 44, 0.425);
    text-align: center;
    border-radius: 10%;
    
}

.toggle-button:hover {
    background-color:#703131;
}

.proposal-form {
    margin: 1% 0 1% 20%;
    padding: 20px 90px;
    border: 2px solid rgb(77, 42, 42);
    background-color: #f9f9f9;
    width:60%;
    box-shadow: 0 0 50px rgba(171, 44, 44, 0.425);
        /* Add a shadow effect */
}

.proposal-form label {
    font-weight: bold;
    margin-right: 10px;
    /* margin-left: 200px */
}

.proposal-form input {
    width: 100%;
    padding: px;
    margin-bottom: 10px;
}

.proposal-item{
    margin-top:4%;
    padding:0 0 2.5% 5%;
    /* background-color: #d49999; */
    border-bottom: 1px solid black;
}

.program-item1 {
    margin-top: 4%;
    border-bottom: 1px solid black;
    padding: 0 0 1.5% 0;
       
}

.existing-data {
    margin: 1% 0 1% 20%;
    width:60%;
    padding: 15px 30px 20px 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 50px rgba(171, 44, 44, 0.425);
    border: 2px solid rgb(77, 42, 42);
}

.arrange{
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
}

.right{
    margin-left: 7%;
}

.left{
    margin-left: 5%;
}

.toggle-data-button {
  background-color:#582626;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 37%;
  border-radius: 5%;
}

.toggle-data-button:hover {
  background-color:#703131;
}

.data-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.input-pair {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.input-pair div {
    flex: 1;
    /* Takes up equal horizontal space within the flex container */
    margin-right: 10px;
    /* Add spacing between the heading and input box */
    font-weight:bold
}

.input-pair input {
    flex: 2;
    /* Takes up more horizontal space to accommodate the input box */
    padding: 5px;
}

.hm{
    margin-top: 3%;
}

.hmm{
    margin-top: 1%;
}

.oh{
    color:#401a1a;
    font-weight:600;
}

/* FUNDER */
/* Add your styles to global.css */

.grant-program-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 1% 3%;
    margin-top: 1%;
    margin-left: 20%;
    margin-bottom:1%;
    width:60%;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(171, 44, 44, 0.425);
}

.grant-program-info {
    display: flex;
    flex-direction: column;
    width:90%;
    margin:-1% 0;
    /* align-items: center; */
}

.grant-program-text {
    font-size: 18px;
    margin: 10px 0;
}

.fund-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 13% 0 0 0;
    cursor: pointer;
    border-radius: 5px;
}

.fund-button:hover {
    background-color: #45a049;
}

.fund-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set-amount-label {
    margin-top:8%;
    font-size: 16px;
}

.set-amount-input {
    margin: 0 0 0 115%;
    width: 70%
}

.approve1-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 0 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.approve1-button:hover {
    background-color: #45a049;
}

.reject1-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.reject1-button:hover {
    background-color: #d32f2f;
}

/* Style each program item */
.program-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #ccc; */
    padding: 3% 6%;
    margin: 3% 0;
    box-shadow: 0 0 2px black;
}

.rev-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #ccc; */
    padding: 2% 5%;
    margin: 0 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

/* Style the "Want to Fund" and "Reject" buttons */


/* Adjust spacing between buttons and program details */
.grant-program-actions {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    align-items: center;
    gap: 10px;
    /* Adjust the gap as needed */
}

/* REVIEWER */
/* Styling for the grant proposal container */

/* Styling for the grant proposal content */

.rev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 2% 1%;
    /* margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 2%; */
    margin:4.9% 0 0 15%;
    width: 70%;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(171, 44, 44, 0.425);
}

.rev-content:hover{
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.166);
}

.rev-info {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.grant-proposal-content {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left: 40%;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 18%;
}

.rev-content{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left: 10%;
    padding: 3%;
    padding-left:3%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
}

/* Styling for the proposal details container */
.proposal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rev-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%
}

/* Styling for the proposal detail elements */
.proposal-detail {
    margin-bottom: 20px;
}

.rev-detail{
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    /* padding: 10px; */
    border: 1px solid black;
    border-radius: 5px;
    margin-left:-80%
}

/* Styling for the proposal actions (Approve and Reject buttons) */
.proposal-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.rev-actions{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.rev-lab{
    margin:auto;
    margin-bottom: 10%;
}

.reject-button {
    padding: 5px 20px;
    background: rgb(187, 69, 69);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
}

#rating{
    margin:auto;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 999;
}

.approve-button{
        padding: 5px 20px;
        background: rgb(70, 180, 70);
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
        margin-left: 2px;
        width:50%
}

.aa{
    width:100%;
    border-bottom: 2px colid black;
}

.approve-button:hover{
    background-color: rgb(2, 176, 2);
}

.reject-button:hover {
    background: rgb(213, 47, 47);
}